<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title></title>
</head>
<body>
    <script>
    (function() {
        var db = window.openDatabase('content_db', '1.0', 'Content database', 2 * 1024 * 1024);
        db.transaction(function(tx) {
            tx.executeSql('DROP TABLE humans');
            tx.executeSql('CREATE TABLE IF NOT EXISTS humans (id unique, name, homePlanet)');
        });
    })();
    </script>
    <script src="../build/bundle.js"></script>
</body>
</html>
